header, body {

    font-family: 'Inconsolata';
  }
  
  header img {
    height: 55px;
    margin-left: 40px;
  }
  
  header {
  
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    align-items: center; 
    box-shadow: 0 0 25px 0 black;
  
  }
  
  header * {
    display: inline;
  }
  
  body {
    margin-top: 80px
  }
  
  header li {
    margin: 20px;
  }
  
  header li a {
    color: black;
    text-decoration: none;
  }
  
  /* Page Title Styling */ 
  h1 {
    font-size: 75px;
    color: black;
    text-align: center;
  }
  
  
  {
    text-align: center;
    padding-bottom: 70px;
  }
  
  body {
    margin-top: 80px;
    padding: 10px;
  }
  
  input {
    width: 70%;
    padding: 12px 12px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  
  select {
    width: 70%;
    padding: 12px 12px;
    margin: 10px 0;
    box-sizing: border-box;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

  
  